:root{
    /*Paleta de Cores*/
    --primary-blue: #023047;
    --secundary-blue: #219EBC;
    --terciary-blue: #8ECAE6;
    --primary-orange: #FB8500;
    --secundary-orange: #FFB703;
    --enfase: #00A6FF;
    --bg-tera: #E9F5FF;
}