*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
    /*font-family: 'Poppins', sans-serif;*/
}
html, body{
    max-width: 100vw;
    max-height: 100vh;
}


a{
    text-decoration: none;
    color: inherit;
}
ul, li{
    list-style: none;
}
img{
    max-width: 100%;
}
em{
    color: var(--terciary-blue);
    font-weight: 600;
}
p{
    font-size: 1.1em;
    color: var(--font-color-light);
}
fieldset{
    border: none;
    padding: 1.2em;
}
.btn{
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
}
.title{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    margin: 2.5rem auto 0;
}
.subtitle{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}
/*display*/
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.d-none{
    display: none;
}

/*text*/
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
    align-items: right;
    justify-content: end;
}