.title{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.subtitle{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.bg-1{
    background: url("../imgs/6.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}