em{
    color: var(--enfase);
    font-weight: 600;
}

.title{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.subtitle{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.bg-1{
    width: 100vw;
    padding: 12px;
    background: url("../imgs/6.png");
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
}

.bg-2{
    background-color: var(--bg-tera);
}

.bg-3{
    background-color: #fff;
    background-clip: padding-box;
}

.bg-4{
    background-image: url(../imgs/bg_fale-conosco.svg);
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
    height: 800px;
}

.bg-4 h1{
    font-size: 56px;
    font-weight: 600;
    color: #8992D5;
}

.bg-4 h2{
    font-size: 27px;
    width: 75%;
    margin: auto;
    margin-bottom: 12px;
}

.d-flx{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
    align-items: right;
    justify-content: end;
}