/*`lg` applies to medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px){
    .eqp_p{
        text-align: center;
    }

    .tera{
        justify-content: center;
        height: 1400px;
        padding: 0;
    }

    .t_c{
        top: 160px;
    }

    .tera_p{
        width: 80%;
    }
    
    .tera_img{
        position: relative;
        top: auto;
        right: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .tera_phn{
        /*height: 120px;*/
        width: 25%;
    }

    .tera_dsk{
        /*height: 160px;*/
        position: relative;
        top: 0;
        right: auto;
        width: 60%;
        margin: 0;
        transform: rotate(15.5deg);
    }

    .tera_wtc{
        /*height: 100px;*/
        position: relative;
        top: 0;
        right: auto;
        width: 15%;
    }

    .tera_mon{
        position: relative;
        top: 0;
        left: auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .tera_mon h2{
        font-size: 1.2em;
    }

    .tera_mon p{
        top: 0;
        width: 80%;
        font-size: 1em;
    }

    .tera_mon img{
        width: 100%;
    }

    .tera_crd{
        top: 0;
        width: 100vw;
    }

    .vertical{
        display: none;
    }

    .tera_crd .bg-3{
        margin-bottom: 20px;
    }

    /*COMO FUNCIONA*/
    .bg-1{
        width: 100vw;
    }

    .slider{
        width: 100vw;
    }

    .trb_card{
        width: 100vw;
    }

    /*Fale Conosco*/
    .fc{
        padding: 0;
        height: 800px;
    }
    .fc_img{
        display: none;
    }

    .fc_crd{
        position: absolute;
        left: 0;
        width: 100vw;
        padding: 0;
    }

    .fc_frm{
        width: 100%;
        height: 80vh;
        background-color: #fff;
        padding-top: 24px;
        padding-left: 0;
        padding-right: 0;
    }

    .fc_frm .bg-3{
        position: absolute;
        top: 180px;
        width: 100%;
        padding: 0;
    }

    .fc_frm .bg-3 legend{
        display: none;
    }

    .bg-4 h1{
        font-size: 2.5em;
    }
    
    .bg-4 h2{
        font-size: 1.4em;
        width: 100%;
    }
}

/*`md` applies to small devices (landscape phones, less than 768px)*/

@media (max-width: 767.98px){  
    .tera_mon p{
        width: 100%;
    }

    .trb_img{
        width: 40%;
        margin: 50px;
    }

    .trb_p{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}